Package: net.fluidenabler.kdog0598
Name: FluidEnabler
Version: 1.0
Architecture: iphoneos-arm
Description: iPX UI on older devices. iOS 11 only. Changes hardware buttons as well.
Depiction: 
Homepage: https://twitter.com/samthebreadman
Maintainer: Kieran Wilson 
Author: Sam Breadman
Section: Tweaks
