Package: net.electricfilza.kdog0598
Name: Filza Electracuted
Version: 1.0.3
Architecture: iphoneos-arm
Description: Filza for Electra jailbreak
Depiction: 
Homepage: http://www.google.com
Maintainer: Kieran Wilson
Author: Dry05
Section: System
Installed-Size: 26536
