Package: com.breadworks.fluidity
Name: Fluidity
Version: 0.1.0
Architecture: iphoneos-arm
Description: Add iPX UI to other iOS 11 devices. Can be installed over FluidEnabler. Respring if Cydia doesn't.
Depiction: 
Homepage: https://twitter.com/samthebreadman
Maintainer: Kieran Wilson
Author: Sam Breadman
Section: Tweaks
