Package: io.ominousness.mitsuhaxi
Name: MitsuhaXI
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Jell-O wave effect for Apple Music and Spotify (iOS 11 Compatible)
Maintainer: kdog0598
Author: c0ldra1n
Section: Tweaks
Version: 0.2.0
Installed-Size: 292
